.hero {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  max-width: 80vw;
  margin: 0 auto;
  height: 100vh;
  background: transparent;
  justify-self: center;
  align-self: center;
  position: relative;
  overflow-x: hidden !important;
  scroll-snap-align: start;
  overflow: hidden;

  .hero-card {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &.visible {
      opacity: 1;

      &.animate-from-left {
        animation: slide-in-left 1s ease-in-out;
      }

      &.animate-from-right {
        animation: slide-in-right 1s ease-in-out;
      }
    }
  }

  .hero-card:first-child {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: transparent;
    span {
      position: relative;
      width: 142px;
      height: 22px;
      &::before {
        position: absolute;
        display: block;
        content: "";
        top: 0;
        left: 0;
        width: 88px;
        height: 4px;
        background-color: var(--secondary);
      }
      &::after {
        position: absolute;
        display: block;
        content: "";
        bottom: 0;
        right: 0;
        width: 88px;
        height: 4px;
        background-color: var(--secondary);
      }
    }
    p {
      font-family: "VW Headline Book", sans-serif;
      font-size: 28px;
    }

    h3 {
      font-size: 6rem;
      line-height: 1;
      font-weight: normal;
      text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
      color: white;
      width: fit-content;
      text-transform: uppercase;
    }
  }

  .hero-card:nth-child(2) {
    position: fixed;
    right: -9%;
    background-color: transparent;
    width: 70%;
    height: 100vh;
    border-radius: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    // background-image: url(../../assets/moonlight.svg);
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position: center;
    // z-index: 2000000000000000;

    // background-image: url(../../assets/light2.png);
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
    h6 {
      font-size: 5rem;
      letter-spacing: 0.1em;
      text-shadow: 0 10px 15px rgba(2, 11, 22, 0.2);
      color: #ee5258;
      background-color: transparent;
      font-weight: 900;
      position: absolute;
      left: 10%;
      z-index: 1000;
      margin-left: 13px;
    }
    svg {
      width: 50%;
      transform: translate(-23px, -20px);
      g {
        stroke: white;
        fill: rgba(255, 255, 255, 0.12);
      }
    }
    .green-cloud1,
    .green-cloud2,
    .green-cloud3,
    .white-cloud1,
    .white-cloud2 {
      position: absolute;
      width: 40%;
    }
    .white-cloud1 {
      top: 1%;
    }
    .white-cloud2 {
      top: 15%;
      left: -5%;
    }
    .green-cloud1 {
      top: 25%;
      right: 10%;
      z-index: 100;
    }
    .green-cloud2 {
      right: 15%;
      bottom: 2.5%;
      z-index: 100;
    }
    .green-cloud3 {
      left: -5%;
      bottom: 10%;
      z-index: 100;
    }
  }
}

@media screen and (max-width: 1000px) {
  .hero-card:first-child {
    h3 {
      font-size: 5rem !important;
    }
    p {
      font-size: 20px !important;
    }
  }
  .white-cloud1 {
    top: 15% !important;
  }
  .white-cloud2 {
    top: 29% !important;
  }
  .green-cloud1 {
    top: 39% !important;
  }
  .green-cloud2 {
    bottom: 16.5% !important;
  }
  .green-cloud3 {
    bottom: 24% !important;
  }
}

@media screen and (max-width: 1073px) {
  .hero-card:nth-child(2) {
    right: -9.5% !important;
    h6 {
      font-size: 3rem !important;
      margin: 0 !important;
    }
  }
}

@media screen and (max-width: 900px) {
  .hero-card:first-child {
    h3 {
      font-size: 4rem !important;
    }
  }
  .hero-card:nth-child(2) {
    right: -10% !important;
    h6 {
      font-size: 2rem !important;
    }
  }
}

@media screen and (max-width: 800px) {
  .hero-card:nth-child(2) {
    right: -10.3% !important;
    top: 0.5% !important;
  }
}

// @media screen and (max-width: 700px) {
//   .hero-card:first-child {
//     h3 {
//       font-size: 3rem !important;
//     }
//   }
//   .white-cloud1 {
//     top: 29% !important;
//   }
//   .white-cloud2 {
//     top: 43% !important;
//   }
//   // .green-cloud1 {
//   //   top: 53% !important;
//   // }
//   .green-cloud2 {
//     bottom: 30.5% !important;
//   }
//   .green-cloud3 {
//     bottom: 30% !important;
//   }
// }

@media screen and (max-width: 700px) {
  .hero {
    flex-direction: column-reverse !important;
    align-items: normal !important;
  }
  .hero-card:first-child {
    margin-bottom: 80px !important;
    gap: 20px !important;
    h3 {
      font-size: 3rem !important;
    }
  }
  .hero-card:nth-child(2) {
    top: 25% !important;
    left: 50% !important;
    right: unset !important;
    transform: translate(-50%, -25%) !important;
    height: 50% !important;
    .moon_bg {
      width: 40vw;
      height: 40vw;
      border-radius: 60%;
      background: white;
      // transform: translateY(-45%);
    }
  }
}

@media screen and (max-width: 500px) {
  .hero-card:first-child {
    margin-bottom: 80px !important;
  }
  .hero-card:nth-child(2) {
    top: 22.5% !important;
    transform: translate(-50%, -22.5%) !important;
    .moon_bg {
      width: 300px;
      height: 300px;
      max-width: 300px;
      max-height: 300px;
      min-width: 300px;
      min-height: 300px;
      border-radius: 60%;
      background: white;
    }
    h6 {
      left: -10% !important;
    }
    .green-cloud1,
    .green-cloud2,
    .green-cloud3,
    .white-cloud1,
    .white-cloud2 {
      position: absolute;
      width: 70% !important;
    }
    .white-cloud1 {
      top: 0 !important;
      right: -10%;
    }
    .white-cloud2 {
      top: 14% !important;
      left: -25% !important;
    }
    .green-cloud1 {
      top: 29% !important;
      right: -40% !important;
      z-index: 100;
    }
    .green-cloud2 {
      right: -20% !important;
      bottom: 4.5% !important;
      z-index: 100;
    }
    .green-cloud3 {
      left: -25% !important;
      bottom: 10% !important;
      z-index: 100;
    }
  }
}

@media screen and (max-width: 395px) {
  .hero-card:nth-child(2) {
    .moon_bg {
      width: 250px;
      height: 250px;
      max-width: 250px;
      max-height: 250px;
      min-width: 250px;
      min-height: 250px;
    }
    .green-cloud1,
    .green-cloud2,
    .green-cloud3,
    .white-cloud1,
    .white-cloud2 {
      width: 80% !important;
    }
    .green-cloud2 {
      bottom: 10.5% !important;
    }
    .green-cloud3 {
      left: -42% !important;
      bottom: 12% !important;
    }
  }
}
