.main_page {
  height: 100vh;
  position: relative;
  scroll-behavior: smooth !important;

  .pages {
    overflow: scroll;
    scroll-behavior: smooth !important;
    scroll-snap-type: y mandatory;
    height: 100%;
    overflow-x: hidden;
    position: relative;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    > * {
      scroll-snap-align: start;
      scroll-snap-stop: always; // Forces stop at each snap point
      height: 100vh;
    }

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, and Opera */
    }
  }
}
