.dev-tools {
  overflow-y: scroll;
   scroll-snap-type: y mandatory !important;
   height: 100vh;
   overflow-x: hidden;
    scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge
   */
   &::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
}

.ripple-1,
.ripple-2,
.ripple-3,
.ripple-4,
.ripple-5{
  height: 1px;
  width: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
  border-radius: 50%;
  transform: translate3d(-50%, 50%, 0);
  animation-name: ripple;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  will-change: transform, opacity;
}

.ripple-1{
  animation-delay: 0;
}

.ripple-2{
  animation-delay: 1s;
}

.ripple-3{
  animation-delay: 2s;
}

.ripple-4{
  animation-delay: 3s;
}

.ripple-4{
  animation-delay: 4s;
}

.ripple-5{
  animation-delay: 5s;
}

@media screen and (max-width: 635px) {
    .card {
      flex-direction: column;
      justify-content: space-between;
      padding: 50px 0;
      z-index: 700000;
      width: 90vw;
      max-width: 90vw;
       .project-card:first-child {
      position: static !important;
      height: 50%;
    //   padding: 0 20px;
      gap: 16px;
    }
     .project-card:nth-child(2) {
      height: 50% !important;
      width: 100%;
    }
    }
}
